/*==================== CARD ====================*/
.card {
    display: flex;
    align-items: center;
}

.card__img {
    width: 45%;
}

.card__img img {
    max-width: 100%;
    height: auto;
    border-top-left-radius: 0.9375rem;
    border-bottom-left-radius: 0.9375rem;
    border: 1px solid var(--border-color);
    border-right: none;
}

.card__info {
    width: 55%;
    background: var(--background-card-color);
    border-top-right-radius: 0.9375rem;
    border-bottom-right-radius: 0.9375rem;
    padding: 1.25rem;
    border: 1px solid var(--border-color);
    border-left: none;
}

.card__title {
    margin-bottom: 0.625rem;
}

.card__description {
    font-size: 1rem;
    padding: 0.625rem 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-radius: 1px;
}

.card__btn {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    margin-top: 0.9375rem;
}

.card__btn_link {
    font-size: 0.9375rem;
    line-height: 1.25rem;
    font-weight: var(--font-regular);
    color: var(--text-color);
    background: transparent;
    padding: 0.3125rem 0.625rem;
    border-radius: 8px;
    border: 2px solid var(--btn-border-color);
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.card__btn_link:hover {
    background: var(--hover-color);
    /* box-shadow: 0px 6px 15px -6px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 6px 15px -6px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 6px 15px -6px rgba(0,0,0,0.55); */
}