/*==================== GLOBAL CSS STYLES ====================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
    background: var(--background-color);
    transition: all 0.2s ease-in;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

/*==================== APP ====================*/
.app {
    padding: 4rem 0;
}

.app__container {
    display: flex;
    max-width: 73rem;
    /* height: calc(70.4vh - 8rem); */
    margin: 0 auto;
    background: var(--container-color);
    box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
    border-radius: 20px;
    padding: 2rem;
    transition: all 0.2s ease-in;
}

.main {
    width: 100%;
}