/*==================== GLOBAL CSS STYLES ====================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
    background: var(--background-color);
    transition: all 0.2s ease-in;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
}

/*==================== APP ====================*/
.app {
    padding: 4rem 0;
}

.app__container {
    display: flex;
    max-width: 73rem;
    margin: 0 auto;
    background: var(--container-color);
    box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
    border-radius: 1.25rem;
    padding: 2rem;
    transition: all 0.2s ease-in;
}

.main {
    width: 100%;
}

/*=============== MEDIA QUERIES ===============*/
/* For large devices */
@media screen and (max-width: 1215px) {
    .app__container {
        width: 90%;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .app {
        padding: 2rem 0;
    }
}

@media screen and (max-width: 575px) {
    .app {
        padding: 1.5rem 0;
    }
}

/* For small devices */
@media screen and (max-width: 440px) {
    .app__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}