/*==================== HEADER ====================*/
.nav, .nav__list {
    display: flex;
    align-items: center;
}

.nav {
    justify-content: space-between;
}

.nav__list {
    gap: 0.9375rem;
}

.nav__link {
    font-size: var(--font-size-normal);
    font-weight: var(--font-regular);
    line-height: var(--line-height-normal);
    text-align: center;
    text-transform: capitalize;
    padding: 0.25rem 0.5rem;
    color: var(--text-color);
    background: transparent;
    transition: all 0.2s ease-in;
    border-radius: 0.3125rem;
}

.nav__link i {
    font-size: var(--font-size-big);
    margin-right: 0.25rem;
    vertical-align: -0.125em
}

.nav__link:hover {
    background: var(--hover-color);
    box-shadow: 0 1rem 2rem rgba(43, 41, 41, .4);
}

.nav__email_text {
    display: none;
}

.theme_toggle {
    font-size: var(--font-size-big);
    padding: 2px 3px 1px 3px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    transition: all 0.2s ease-in;
}

.theme_toggle span i {
    color: var(--text-color);
    vertical-align: -0.125em;
    transition: all 0.2s ease-in;
}

.menu {
    width: 100%;
    text-align: end;
}

.nav__toggle {
    display: none;
    background: transparent;
    border: none;
}

.nav__toggle span i {
    font-size: 22px;
    color: var(--text-color);
    transition: all 0.3s ease-in;
}

/*=============== MEDIA QUERIES ===============*/
/* For medium devices */
@media screen and (max-width: 768px) {
    .nav__email {
        display: none;
    }

    .nav__email_text {
        display: inline-block;
    }
}

@media screen and (max-width: 575px) {
    .header {
        position: relative;
    }

    .nav {
        width: 100%;
        height: auto;
        position: absolute;
        top: 40px;
        left: -150%;
        flex-direction: column;
        gap: 4rem;
        background: var(--menu-color);
        backdrop-filter: blur(30px);
        padding: 40% 0;
        border-radius: 20px;
        transition: left 0.3s ease-in;
        z-index: 1;
    }

    .active {
        left: 0;
    }

    .nav__list {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    .nav__left .nav__list .nav__item {
        order: 2;
    }

    .nav__left .nav__list .nav__item:last-child {
        order: 1;
    }

    .nav__link,
    .nav__link i {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .nav__toggle {
        display: inline-block;
    }
}

/* For small devices */
@media screen and (max-width: 440px) {
    .nav__toggle {
        text-align: center;
    }
}

@media screen and (max-width: 375px) {
    .nav__link,
    .nav__link i {
        font-size: 1.7rem;
        line-height: 2.2rem;
    }
}