/*==================== HOME ====================*/
.home__container {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
}

.home__title {
    font-size: 3rem;
    line-height: 3.875rem;
    font-weight: var(--font-bold);
    letter-spacing: 0.1875rem;
    margin-bottom: 1rem;
}

.home__subtitle {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: var(--font-bold);
}

.home__description {
    font-size: .875rem;
    font-weight: var(--font-regular);
    line-height: 1.5rem;
    margin-top: 2.5rem;
}

.home__description img {
    height: 1.125rem;
    margin-right: 0.3125rem;
}

.home__img {
    margin: 0 auto;
}