/*==================== HOME ====================*/
.home__container {
    display: flex;
    align-items: center;
    margin-top: 2.5rem;
}

.home__data {
    width: 30%;
}

.home__title {
    font-size: var(--font-size-biggest);
    line-height: var(--line-height-biggest);
    font-weight: var(--font-bold);
    letter-spacing: 0.1875rem;
    margin-bottom: 1rem;
}

.home__subtitle {
    font-size: var(--font-size-normal);
    line-height: var(--line-height-normal);
    font-weight: var(--font-bold);
}

.home__description {
    font-size: var(--font-size-smaller);
    font-weight: var(--font-regular);
    line-height: var(--line-height-normal);
    margin-top: 2.5rem;
}

.home__description img {
    height: 1.125rem;
    margin-right: 0.3125rem;
}

.home__img {
    width: 50%;
    margin: 0 auto;
}

/*=============== MEDIA QUERIES ===============*/
/* For medium devices */
@media screen and (max-width: 768px) {
    .home__container {
        flex-direction: column;
    }
    
    .home__data {
        width: 100%;
        text-align: center;
    }

    .home__img {
        width: 100%;
    }
}

/* For small devices */
@media screen and (max-width: 375px) {
    .home__title {
        font-size: 2.4rem;
        line-height: 3.175rem;
    }

    .home__description {
        margin-top: 2rem;
    }
}