/*==================== RESUME ====================*/
.resume__container {
    padding-top: 1.5rem;
}

.resume__title {
    font-size: var(--font-size-bigger);
    font-weight: var(--font-bold);
}

.border {
    margin: 1rem 0 0 0;
    border: 1px solid var(--border-color);
    border-radius: 1px;
}

.tech__box {
    margin-top: 2rem;
    padding: 1.25rem 2.5rem;
    border: 2px solid var(--techs-box-color);
}

.tech__box_title {
    font-style: italic;
    font-size: var(--font-size-normal);
    font-weight: var(--font-regular);
    line-height: var(--line-height-smaller);
    margin-bottom: 2.5rem;
}

.techs {
    display: flex;
    align-items: center;
    gap: 1.75rem;
    flex-wrap: wrap;
}

.tech {
    width: 4rem;
    display: inline-block;
    text-align: center;
}

.tech__img {
    display: inline;
    height: 3.3rem;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    object-fit: contain;
    transition: all 0.2s ease-in;
}

.tech__img:hover {
    transform: scale(1.3);
    filter: none;
    -webkit-filter: none;
}

.resume__section {
    margin-top: 1rem;   
}

.btn__cv {
    background: transparent;
    padding: 0.3125rem 0.625rem;
    border-radius: 8px;
    border: 2px solid var(--btn-border-color);
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.btn__cv:hover {
    background: var(--hover-color);
}

.btn__cv a,
.btn__cv_icon {
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    font-weight: var(--font-regular);
    color: var(--text-color);
}

.btn__cv_icon {
    margin-left: 5px;
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 375px) {
    .resume__title {
        font-size: 1.3rem;
    }
    
    .border {
        margin: 0.8rem 0 1.5rem 0;
    }

    .tech__box {
        margin-top: 1rem;
        padding: 1rem 1.5rem;
    }

    .tech__box_title {
        font-size: 0.8rem;
        line-height: 1rem;
        margin-bottom: 1.8rem;
    }

    .tech {
        width: 3rem;
    }

    .btn__cv a,
    .btn__cv_icon {
        font-size: 0.8375rem;
        line-height: 1.05rem;
    }
}