/*==================== SIDEBAR ====================*/
.sidebar {
    width: 8rem;
    height: 100%;
}

.sidebar__logo {
    padding-bottom: 0.5rem;
}

.logo_img {
    font-size: 1.375rem;
    line-height: 1.5rem;
    font-weight: var(--font-regular);
    letter-spacing: 1.5px;
    color: var(--text-color);
}

.logo_img .logo_letter_second {
    transition: all 0.2s ease-in;
}

.logo_img:hover .logo_letter_second {
    color: var(--hover-color);
}

.social__networks {
    margin-top: 10rem;
}

.network__box {
    margin-bottom: 0.625rem;
}

.network__box a {
    font-size: 1.75rem;
    color: var(--text-color);
}