/*==================== VARIABLES CSS ====================*/
:root {
    /*========== Colors ==========*/
    /*= dark =*/
    --dark-bg: #191919;
    --dark-color: #f6f5f6;
    --dark-con: #232323;
    --dark-hover: #94A8B3;

    /*= light =*/
    --light-bg: #ececec;
    --light-color: #58595B;
    --light-con: #e9e9e9;

    /*========== Font and typography ==========*/
    --body-font: 'Space Mono', sans-serif;

    /*========== Font size ==========*/

    /*========== Line height ==========*/

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-bold: 700;
}