/*==================== VARIABLES CSS ====================*/
:root {
    /*========== Font and typography ==========*/
    --body-font: 'Space Mono', sans-serif;

    /*========== Font size ==========*/
    --font-size-biggest: 3rem;
    --font-size-bigger: 1.5rem;
    --font-size-big: 1.125rem;
    --font-size-normal: 1rem;
    --font-size-small: 0.9375rem;
    --font-size-smaller: 0.875rem;

    /*========== Line height ==========*/
    --line-height-biggest: 3.875rem;
    --line-height-normal: 1.5rem;
    --line-height-small: 1.25rem;
    --line-height-smaller: 1.125rem;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-bold: 700;
}

:root[data-theme = "dark"] {
    /*========== Colors ==========*/
    /*===== dark =====*/
    --background-color: #191919;
    --text-color: #f6f5f6;
    --container-color: #232323;
    --hover-color: #94A8B3;
    --border-color: #6262623c;
    --background-card-color: #5353532b;
    --btn-border-color: #626262;
    --techs-box-color: #7979796e;
    --menu-color: #79797934;
}

:root[data-theme = "light"] {
    /*========== Colors ==========*/
    /*===== light =====*/
    --background-color: #ececec;
    --text-color: #58595B;
    --container-color: #e9e9e9;
    --hover-color: #dbeaf1;
    --border-color: #cdcfd286;
    --background-card-color: #dbd9d956;
    --btn-border-color: #bdbdbd;
    --techs-box-color: #a3a3a3af;
    --menu-color: #a3a3a347;
}